
.badge {
  display: inline-block;
  padding: 0 $badge-padding-horizontal;
  background: $badge-background;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: $badge-line-height;
  color: $badge-color;
  text-align: center;
  vertical-align: middle;
  border-radius: $badge-border-radius;
  text-transform: $badge-text-transform;
}



a.badge:hover { color: $badge-hover-color; }



.badge-notification {
  box-sizing: border-box;
  min-width: $badge-notification-line-height;
  border-radius: 500px;
  font-size: $badge-notification-font-size;
  line-height: $badge-notification-line-height;
}
@mixin badge-variant($parent, $background-color, $color) {
  .badge-#{$parent} {
    background-color: $background-color;
    color: $color;
  }
}
//批量生成
@include badge-variant("green", $color-green, $color-white);
@include badge-variant("red", $color-red, $color-white);
@include badge-variant("orange", $color-orange, $color-white);
@include badge-variant("blue", $color-blue, $color-white);
@include badge-variant("grey", $color-grey, $color-white);