//
// 按钮
@mixin create-btn-type($b-color,$color:#ffffff) {
  color: $color;
  background-color: $color;
  border: 1px solid $color;

  &:active,
  &.active{
    color: $color;
    background-color: darken($b-color, 10%);
    border: 1px solid darken($b-color, 10%);
  }

  &.btn-outlined{
    background-color: transparent;
    color: $b-color;
  }
  &:active{
    color: $color;
  }
}

// --------------------------------------------------
$button-font-size: 12px !default;
$primary-color: #333333 !default;

.btn{
  position: relative;
  display: inline-block;
  padding: 6px 8px 7px;
  margin-bottom: 0; // input.btn
  font-size: $button-font-size;
  font-weight: 400;
  line-height: 1;
  color: $primary-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 6px;

  // 激活状态
  &:active,
  &.active{
    color: inherit;
    background-color: #cccccc;
  }

  // 不可用状态
  &:disabled,
  &.disabled{
    opacity: .6;
  }

  &.red{
    @include create-btn-type(#ff4222);
  }

  &.green{
    @include create-btn-type(#29cc6d);
  }

  &.blue{
    @include create-btn-type(#1b97ff);
  }

  &.orange{
    @include create-btn-type(#ff9900);
  }
}

.btn-link{
  padding-top: 6px;
  padding-bottom: 6px;
  color: $primary-color;
  background-color: transparent;
  border: 0;

  &:active,
  &.active{
    color: darken($primary-color, 10%);
    background-color: transparent;
  }
}

.btn-block{
  display: block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="submit"],
input[type="reset"],
input[type="button"]{
  width: 100%;
}
