.button {
  display: inline-block;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: $btn-padding-vertical-base;
  padding-bottom: $btn-padding-vertical-base;
  box-sizing: border-box;
  font-size: $btn-font-size-base;
  text-align: center;
  text-decoration: none;
  color: $btn-color-base;
  line-height: $btn-line-height-base;
  border-radius: $btn-border-radius-base;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  border: solid 1px $btn-border-base;
&:disabled,
&[disabled],
  &.disabled {
    @include opacity(.65);
    //background-color: $btn-default-disabled-bg-color !important;
    //color: $btn-default-disabled-color !important;
  }
}

//@include button-variant(default, $btn-default-bg, $btn-default-color, $btn-default-active-bg, $btn-default-active-color);
@include button-variant(default, $btn-default-bg, $btn-default-color, $btn-default-active-bg, $btn-default-active-color);
@include button-variant(green, $color-green, $color-white, darken($color-green, 10%), $color-white);
@include button-variant(blue, $color-blue, $color-white, darken($color-blue, 10%), $color-white);
@include button-variant(red, $color-red, $color-white, darken($color-red, 10%), $color-white);
@include button-variant(grey, $color-grey, $color-white, darken($color-grey, 10%), $color-white);
@include button-variant(orange, $color-orange, $color-white, darken($color-orange, 10%), $color-white);

.button-xs {
  font-size: $btn-font-size-xs;
  line-height: $btn-line-height-xs;
  border-radius: $btn-border-radius-xs;
  padding-top: $btn-padding-vertical-xs;
  padding-bottom: $btn-padding-vertical-xs;
  padding-left: $btn-padding-horizontal-xs;
  padding-right: $btn-padding-horizontal-xs;
}

.button-xl {
  font-size: $btn-font-size-xl;
  line-height: $btn-line-height-xl;
  border-radius: $btn-border-radius-xl;
  padding-top: $btn-padding-vertical-xl;
  padding-bottom: $btn-padding-vertical-xl;
  padding-left: $btn-padding-horizontal-xl;
  padding-right: $btn-padding-horizontal-xl;
}
