// ==========================================================================
// Base – Helpers
// ==========================================================================
//show outline for test
html, body {
  height: 100%;
}

.test {
  outline: dotted 1px red;
}

.height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-float {
  float: none;
}

.no-background {
  background: transparent;
}

.no-border {
  border: 0;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}



.font-12 {
  font-size: 12px
}

.font-14 {
  font-size: 14px
}

.font-16 {
  font-size: 16px
}

.font-18 {
  font-size: 18px
}

.font-20 {
  font-size: 20px
}

.font-24 {
  font-size: 24px
}

.font-26 {
  font-size: 26px
}

.font-28 {
  font-size: 28px
}

.font-30 {
  font-size: 30px
}

.font-normal {
  font-style: normal;
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.none {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

// margin Padding Helpers
@for $i from 0 through $layout-meter-lenght {
  //margin shortcut //margin快捷类
  .mg-#{$i*$layout-meter} {
    margin: $i*$layout-meter;
  }

  .mg-t-#{$i*$layout-meter} {
    margin-top: $i*$layout-meter;
  }

  .mg-r-#{$i*$layout-meter} {
    margin-right: $i*$layout-meter;
  }

  .mg-b-#{$i*$layout-meter} {
    margin-bottom: $i*$layout-meter;
  }

  .mg-l-#{$i*$layout-meter} {
    margin-left: $i*$layout-meter;
  }

  .mg-lr-#{$i*$layout-meter} {
    margin-left: $i*$layout-meter;
    margin-right: $i*$layout-meter;
  }

  .mg-tb-#{$i*$layout-meter} {
    margin-top: $i*$layout-meter;
    margin-bottom: $i*$layout-meter;
  }
  //padding shortcut //padding快捷类
  .pd-#{$i*$layout-meter} {
    padding: $i*$layout-meter;
  }

  .pd-t-#{$i*$layout-meter} {
    padding-top: $i*$layout-meter;
  }

  .pd-r-#{$i*$layout-meter} {
    padding-right: $i*$layout-meter;
  }

  .pd-b-#{$i*$layout-meter} {
    padding-bottom: $i*$layout-meter;
  }

  .pd-l-#{$i*$layout-meter} {
    padding-left: $i*$layout-meter;
  }

  .pd-lr-#{$i*$layout-meter} {
    padding-left: $i*$layout-meter;
    padding-right: $i*$layout-meter;
  }

  .pd-tb-#{$i*$layout-meter} {
    padding-top: $i*$layout-meter;
    padding-bottom: $i*$layout-meter;
  }
}

// Hide only visually, but have it available for screenreaders: : h5bp.com/v
.sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Images
.img-fluid {
  max-width: 100%;
}

/************************************************/

/*垂直上下居中*/

.vertical-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* 文字截断 */

.nowrap {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.nowrap-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.nowrap-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


