//background
@mixin background-color($name, $value) {
  .background-color-#{$name} {
    background-color: $value;
  }
  .bc-#{$name} {
    background-color: $value;
  }
}

@mixin color($name,$value) {
  .color-#{$name} {
    color: $value
  }
  .c-#{$name} {
    color: $value
  }
}

@mixin line-height($lh) {
  .line-height-#{$lh} {
    line-height: #{$lh};
  }
  .lh-#{$lh} {
    line-height: #{$lh};
  }
}

@mixin font-size($size) {
  .font-size-#{$size} {
    font-size: #{$size}rpx;
  }
  .fs-#{$size} {
    font-size: #{$size}rpx;
  }
}

//文字颜色
@include color('red', #ff4222);
@include color('green', #29cc6d);
@include color('yellow', #ffffcc);
@include color('blue', #1b97ff);
@include color('orange', #ff9900);
@include color('white', #fff);
@include color('black', #000);
@include color(333, #333);
@include color(666, #666);
@include color(999, #999);

//背景颜色
@include background-color('red', #ff4222);
@include background-color('green', #29cc6d);
@include background-color('yellow', #ffffcc);
@include background-color('blue', #1b97ff);
@include background-color('orange', #ff9900);
@include background-color('white', #fff);
@include background-color('black', #000);
@include background-color('333', #333);
@include background-color('666', #666);
@include background-color('999', #999);

//文字大小
@include font-size(20);
@include font-size(22);
@include font-size(24);
@include font-size(26);
@include font-size(28);
@include font-size(32);
@include font-size(36);
@include font-size(40);