// ==========================================================================
// 变量
// ==========================================================================

// xs s m l xl

//Global color [通用颜色




// font size
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 2.6)); // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: 22px; // ~22px
$font-size-h4: 16px; // ~16px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px






// Responsive Breakpoints [响应式断点
$breakpoint-m: ($container-m + 20) !default;
$breakpoint-l: ($container-l + 20) !default;
$breakpoint-xl: ($container-xl + 20) !default;




