//background
@mixin background-color($name, $value) {
  .bc-#{$name}{
    background-color: $value;
  }
}

@mixin color($name,$value) {
  .color-#{$name}{
    color: $value
  }
  .c-#{$name}{
    color: $value
  }
}

@mixin line-height($lh) {
  .lh-#{$lh}{
    line-height: #{$lh};
  }
}

@mixin font-size($size) {
  .font-size-#{$size}{
    font-size: #{$size}px;
  }
  .fs-#{$size}{
    font-size: #{$size}px;
  }
}

//文本颜色
@include color('red', #ff4222);
@include color('green', #29cc6d);
@include color('blue', #1b97ff);
@include color('orange', #ff9900);
@include color('fff', #ffffff);
@include color('000', #000000);
@include color('333', #333333);
@include color('666', #666666);
@include color('999', #999999);
//背景颜色
@include background-color('red', #ff4222);
@include background-color('green', #29cc6d);
@include background-color('blue', #1b97ff);
@include background-color('orange', #ff9900);
@include background-color('white', #ffffff);
@include background-color('000', #ffffff);
@include background-color('999', #000000);
//文字大小
@include font-size(12);
@include font-size(14);
@include font-size(16);
@include font-size(18);
@include font-size(20);
@include font-size(22);
@include font-size(24);
@include font-size(26);
@include font-size(28);
@include font-size(30);
@include font-size(32);
//------------------------
//行高
@include line-height(14px); /*16像素行距*/
@include line-height(16px); /*16像素行距*/
@include line-height(18px); /*18像素行距*/
@include line-height(20px); /*20像素行距*/
@include line-height(22px); /*22像素行距*/
@include line-height(24px); /*24像素行距*/
@include line-height(26px); /*26像素行距*/
@include line-height(28px); /*28像素行距*/
@include line-height(30px); /*30像素行距*/
