@mixin set-arrow($direction, $arrowsize, $color,$borderWidth) {
  display: inline-block;
  height: $arrowsize;
  width: $arrowsize;
  border-width: $borderWidth $borderWidth 0 0;
  border-color: $color;
  border-style: solid;
  position: relative;
  top: -2px;
  @if $direction == top {
    transform: rotate(-45deg);
  } @else if $direction == bottom {
    transform: rotate(135deg);
  } @else if $direction ==  left {
    transform: rotate(-135deg);
  } @else if $direction ==  right {
    transform: rotate(45deg);
  }
  &:after {
    content: " ";
    top: -1px;
    margin-left: .3em;
  }
}

.icon-aarow-right {
  @include set-arrow(right, 6px, $bordercolor, 2px);
}
