// Flex Types
.flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-jc-space-around {
  justify-content: space-around;
}

.flex-jc-space-between {
  justify-content: space-between;
}

.flex-jc-start {
  justify-content: flex-start;
}

.flex-jc-center {
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-jc-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-ai-start {
  align-items: flex-start;
}

.flex-ai-end {
  align-items: flex-end;
}

.flex-ai-center {
  align-items: center;
}

.flex-ai-baseline {
  align-items: baseline;
}

.flex-ai-stretch {
  align-items: stretch;
}

.flex-ac-start {
  align-content: flex-start;
}

.flex-ac-end {
  align-content: flex-end;
}

.flex-ac-center {
  align-content: center;
}

.flex-ac-space-between {
  align-content: space-between;
}

.flex-ac-space-around {
  align-content: space-around;
}

.flex-ac-stretch {
  align-content: stretch;
}

.flex-align-self-start {
  align-self: flex-start;
}

.flex-align-self-end {
  align-self: flex-end;
}

.flex-align-self-center {
  align-self: center;
}

.flex-align-self-baseline {
  align-self: baseline;
}

.flex-align-self-stretch {
  align-self: stretch;
}

.flex-col-auto {
  flex: 1;
}

$col-num:12;
/*请使用flex-item-* */
@for $i from 1 through $col-num {
  .flex-col-#{$i} {
    flex: 0 0 $i / $col-num * 100%;
  }
}
