

@mixin flex-clear {
  &:before, &:after {
    content: " ";
    display: flex;
    box-sizing: border-box;
    width: 0;
    height: 0;
    font-size: 0;
  }
  &:after {
    clear: both;
  }
}

.flex-column, .flex-row {
  display: flex;
  flex-wrap: wrap;
  @include flex-clear;
}

.flex-column {
  flex-direction: row;
}

.flex-row {
  flex-direction: column;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-baseline {
  align-items: baseline;
}

.flex-strech {
  align-items: stretch;
}

.flex-item-auto {
  float: left;
  flex-grow: 1;
}

@for $i from 1 through $flex-column {

  // 栅格
  .flex-item-#{$i} {
    float: left;
    width: percentage($i / $flex-column);
  }

  // 向左偏移
  .flex-offset-#{$i} {
    margin-left: percentage($i / $flex-column);
  }

  // 排序
  .flex-order-#{$i} {
    order: $i;
  }
}

// flex的对齐方式
@mixin build-align($type) {
  @if $type == column {
    &.flex-left {
      justify-content: flex-start;
    }
    &.flex-right {
      justify-content: flex-end;
    }
    &.flex-top {
      align-items: flex-start;
    }
    &.flex-bottom {
      align-items: flex-end;
    }
    &.flex-center {
      justify-content: center;
    }
    &.flex-middle {
      align-items: center;
    }
  } @else if $type == row {
    &.flex-left {
      align-items: flex-start;
    }
    &.flex-right {
      align-items: flex-end;
    }
    &.flex-top {
      justify-content: flex-start;
    }
    &.flex-bottom {
      justify-content: flex-end;
    }
    &.flex-center {
      align-items: center;
    }
    &.flex-middle {
      justify-content: center;
    }
  }

}

.flex-column {
  @include build-align(column);
}

.flex-row {
  @include build-align(row);
}

[class*=flex-item] {
  &.flex-left {
    margin-right: auto;
  }
  &.flex-right {
    margin-left: auto;
  }
  &.flex-top {
    margin-bottom: auto;
  }
  &.flex-bottom {
    margin-top: auto;
  }
  &.flex-center {
    margin-left: auto;
    margin-right: auto;
  }
  &.flex-middle {
    margin-top: auto;
    margin-bottom: auto;
  }
}



