// ==========================================================================
// Base – Helpers
// ==========================================================================
//show outline for test
html, body {
  height: 100%;
}

.test {
  outline: dotted 1px red;
}

.height-full {
  height: 100%;
}

// General Resets
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-float {
  float: none;
}

.no-background {
  background: transparent;
}

.no-border {
  border: 0;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.font-size-base {
  font-size: $font-size-base;
}

.font-size-h6 {
  font-size: $font-size-h6;
}

.font-size-h5 {
  font-size: $font-size-h5;
}

.font-size-h4 {
  font-size: $font-size-h4;
}

.font-size-h3 {
  font-size: $font-size-h3;
}

.font-size-h2 {
  font-size: $font-size-h2;
}

.font-size-h1 {
  font-size: $font-size-h1;
}

// Font Styles
.font-normal {
  font-style: normal;
  font-weight: normal;
}

// Font Weights
.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

// Text Modifications
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

// Text Alignments
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.line-height-xs {
  line-height: 14px;
}

.line-height-xl {
  line-height: 18px;
}

// Positions
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

// Display Types
.none {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

// Floats
.left {
  float: left;
}

.right {
  float: right;
}

// Alignment
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

// margin Padding Helpers
@for $i from 0 through $layout-meter-lenght {
  //margin shortcut //margin快捷类
  .mg-#{$i*$layout-meter} {
    margin: $i*$layout-meter;
  }
  .mg-top-#{$i*$layout-meter} {
    margin-top: $i*$layout-meter;
  }
  .mg-t-#{$i*$layout-meter} {
    margin-top: $i*$layout-meter;
  }
  .mg-right-#{$i*$layout-meter} {
    margin-right: $i*$layout-meter;
  }
  .mg-r-#{$i*$layout-meter} {
    margin-right: $i*$layout-meter;
  }
  .mg-bottom-#{$i*$layout-meter} {
    margin-bottom: $i*$layout-meter;
  }
  .mg-b-#{$i*$layout-meter} {
    margin-bottom: $i*$layout-meter;
  }
  .mg-left-#{$i*$layout-meter} {
    margin-left: $i*$layout-meter;
  }
  .mg-l-#{$i*$layout-meter} {
    margin-left: $i*$layout-meter;
  }
  .mg-horizontal-#{$i*$layout-meter} {
    margin-left: $i*$layout-meter;
    margin-right: $i*$layout-meter;
  }
  .mg-lr-#{$i*$layout-meter} {
    margin-left: $i*$layout-meter;
    margin-right: $i*$layout-meter;
  }

  .mg-vertical-#{$i*$layout-meter} {
    margin-top: $i*$layout-meter;
    margin-bottom: $i*$layout-meter;
  }
  .mg-tb-#{$i*$layout-meter} {
    margin-top: $i*$layout-meter;
    margin-bottom: $i*$layout-meter;
  }
  //padding shortcut //padding快捷类
  .pd-#{$i*$layout-meter} {
    padding: $i*$layout-meter;
  }
  .pd-top-#{$i*$layout-meter} {
    padding-top: $i*$layout-meter;
  }
  .pd-t-#{$i*$layout-meter} {
    padding-top: $i*$layout-meter;
  }
  .pd-right-#{$i*$layout-meter} {
    padding-right: $i*$layout-meter;
  }
  .pd-r-#{$i*$layout-meter} {
    padding-right: $i*$layout-meter;
  }
  .pd-bottom-#{$i*$layout-meter} {
    padding-bottom: $i*$layout-meter;
  }
  .pd-b-#{$i*$layout-meter} {
    padding-bottom: $i*$layout-meter;
  }
  .pd-left-#{$i*$layout-meter} {
    padding-left: $i*$layout-meter;
  }
  .pd-l-#{$i*$layout-meter} {
    padding-left: $i*$layout-meter;
  }
  .pd-horizontal-#{$i*$layout-meter} {
    padding-left: $i*$layout-meter;
    padding-right: $i*$layout-meter;
  }
  .pd-lr-#{$i*$layout-meter} {
    padding-left: $i*$layout-meter;
    padding-right: $i*$layout-meter;
  }
  .pd-vertical-#{$i*$layout-meter} {
    padding-top: $i*$layout-meter;
    padding-bottom: $i*$layout-meter;
  }
  .pd-tb-#{$i*$layout-meter} {
    padding-top: $i*$layout-meter;
    padding-bottom: $i*$layout-meter;
  }
}

// Hide only visually, but have it available for screenreaders: : h5bp.com/v
.sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


// Images
.img-fluid {
  max-width: 100%;
}

// Form
.field {
  width: 100%;
}

// Disable Element
.disabled,
[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .5;
}

/************************************************/

/*垂直上下居中*/

.vertical-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* 文字截断 */

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.nowrap-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.nowrap-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

//文本颜色
@include text-color-variant('.color-red', $color-red);
@include text-color-variant('.color-green', $color-green);
@include text-color-variant('.color-yellow', $color-yellow);
@include text-color-variant('.color-blue', $color-blue);
@include text-color-variant('.color-orange', $color-orange);
@include text-color-variant('.color-brown', $color-brown);
@include text-color-variant('.color-pink', $color-pink);
@include text-color-variant('.color-navy', $color-navy);
@include text-color-variant('.color-white', $color-white);
@include text-color-variant('.color-grey-1', $font-color-1);
@include text-color-variant('.color-grey-2', $font-clolr-2);
@include text-color-variant('.color-grey-3', $font-clolr-3);
@include text-color-variant('.color-black', $color-black);
//背景颜色
@include bg-variant('.bg-red', $color-red);
@include bg-variant('.bg-green', $color-green);
@include bg-variant('.bg-yellow', $color-yellow);
@include bg-variant('.bg-blue', $color-blue);
@include bg-variant('.bg-orange', $color-orange);
@include bg-variant('.bg-brown', $color-brown);
@include bg-variant('.bg-pink', $color-pink);
@include bg-variant('.bg-navy', $color-navy);
@include bg-variant('.bg-white', $color-white);
@include bg-variant('.bg-grey-1', $bg-color-1);
@include bg-variant('.bg-grey-2', $bg-color-2);
@include bg-variant('.bg-black', $color-black);
