// ==========================================================================
// 变量
// ==========================================================================



//Global color [通用颜色


$color-white:#fff;//白色
$color-grey-1:                                  darken($color-white,10%);
$color-grey-2:                                  darken($color-white,20%);
$color-grey-3:                                  #333;//darken($color-white,30%);
$color-grey-4:                                  darken($color-white,40%);
$color-grey-5:                                  darken($color-white,50%);
$color-grey-6:                                  #666;//darken($color-white,60%);
$color-grey-7:                                  darken($color-white,70%);
$color-grey-8:                                  darken($color-white,80%);
$color-grey-9:                                  #999;//darken($color-white,90%);
$color-black:                                   #000;

$color-grey-bg:								                	#f5f5f5;
$color-grey-bg-2:							                	#fcfcfc;

$color-red:                                     #ff4222;
$color-red-3:                                    darken($color-red,30%);
$color-blue:                                    #1b97ff;
$color-blue-3:                                  darken($color-blue,30%);
$color-green:                                   #29cc6d;
$color-yellow:                                  #ffffcc;
$color-orange:                                  #ff9900;
$color-navy:                                    #314c83;
$color-pink:                                    #F7665e;
$color-brown:                                   #ae9a69;

// Global Typography [通用排版
$base-background-color:                         $color-white !default;
$base-font-family:                              sans-serif !default;
$base-font-size:                                14 !default;
$base-line-height:                              22 !default;
$base-font-weight:                              400 !default;
$base-font-color:                               $color-grey-3 !default;
$base-link-color:                               $color-grey-3 !default;
$base-link-color-hover:                         $color-grey-3  !default;

// Font Weights [字体宽度
$font-100:                                      100 !default;
$font-200:                                      200 !default;
$font-300:                                      300 !default;
$font-400:                                      400 !default;
$font-500:                                      500 !default;
$font-600:                                      600 !default;
$font-700:                                      700 !default;
$font-800:                                      800 !default;
$font-900:                                      900 !default;
// font size
$font-size-xs:							                		$base-font-size - 2px;
$font-size-base:                                $base-font-size + 0px;
$font-size-s:								                  	$base-font-size + 2px;
$font-size-m:								                  	$base-font-size + 4px;
$font-size-l:								                  	$base-font-size + 6px;
$font-size-xl:							                  	$base-font-size + 12px;
$font-size-xxl:							                  	$base-font-size + 18px;

// Headings [标题
$base-heading-font-family:                      sans-serif !default;
$base-h1-font-size:                             32 !default;
$base-h1-line-height:                           38 !default;
$base-h1-font-weight:                           700 !default;
$base-h1-color:                                 #000 !default;
$base-h2-font-size:                             26 !default;
$base-h2-line-height:                           32 !default;
$base-h2-font-weight:                           700 !default;
$base-h2-color:                                 #000 !default;
$base-h3-font-size:                             22 !default;
$base-h3-line-height:                           28 !default;
$base-h3-font-weight:                           700 !default;
$base-h3-color:                                 #000 !default;
$base-h4-font-size:                             18 !default;
$base-h4-line-height:                           24 !default;
$base-h4-font-weight:                           700 !default;
$base-h4-color:                                 #000 !default;
$base-h5-font-size:                             16 !default;
$base-h5-line-height:                           22 !default;
$base-h5-font-weight:                           700 !default;
$base-h5-color:                                 #000 !default;
$base-h6-font-size:                             14 !default;
$base-h6-line-height:                           20 !default;
$base-h6-font-weight:                           700 !default;
$base-h6-color:                                 #000 !default;

// Blockquotes [引用
$base-blockquote-font-family:                   sans-serif !default;
$base-blockquote-font-size:                     22 !default;
$base-blockquote-line-height:                   28 !default;

// Code [代码
$base-code-font-family:                         monospace, monospace !default;
$base-code-font-size:                           13 !default;
$base-code-line-height:                         18 !default;
$base-code-color:                               #000 !default;
$base-code-background-color:                    transparent !default;
$base-code-border-color:                        #d7d7d7 !default;

// Forms [表单
$base-input-height:                             36px !default;
$base-input-placeholder-color:                  #999 !default;
$base-input-color:                              #000 !default;
$base-input-background-color:                   #fff !default;
$base-input-background-color-focus:             #fff !default;
$base-input-border-color:                       #ccc !default;
$base-input-border-color-focus:                 $color-red;
$base-select-box-height:                        36px;

// Grid Containers [网格
$container:                                     100% !default;
$container-m:                                   720px !default;
$container-l:                                   960px !default;
$container-xl:                                  1120px !default;

// Grid Gutters [网格排水沟
$grid-gutter:                                   0px !default;
$grid-gutter-m:                                 0px !default;
$grid-gutter-l:                                 0px !default;
$grid-gutter-xl:                                0px !default;

// Responsive Breakpoints [响应式断点
$breakpoint-m:                                  ($container-m + 20) !default;
$breakpoint-l:                                  ($container-l + 20) !default;
$breakpoint-xl:                                 ($container-xl + 20) !default;

//animate 动画持续时间
$duration:                                      1s;

//shortcut-layout [快捷布局
$layout-meter:                                  2px;
$layout-meter-lenght:                           40;

//button [按钮
$button-xs-height:                              20px;
$button-height:                                 30px;
$button-s-height:                               25px;
$button-l-height:                               40px;
$button-xl-height:                              60px;

$button-xs-line-height:                         20px;
$button-line-height:                            30px;
$button-s-line-height:                          25px;
$button-l-line-height:                          40px;
$button-xl-line-height:                         60px;

$button-xs-font-size:                           11px;
$button-s-font-size:                            12px;
$button-l-font-size:                            16px;
$button-xl-font-size:                           20px;

$button-xs-padding-horizontal:                  6px;
$button-padding-horizontal:                     12px;
$button-s-padding-horizontal:                   10px;
$button-l-padding-horizontal:                   15px;
$button-xl-padding-horizontal:                  18px;

$button-font-size:                              1rem;
$button-border-weight:                          0px;
$button-border-color:                           rgba(0,0,0,.2);
$button-border-radius:                          4px;
$button-background:                             #fff;
$button-color:                                  #333;
$button-hover-background:                       #fff;
$button-hover-color:                            #333;
$button-active-background:                      darken($button-background,20%);
$button-active-color:                           darken($button-color,20%);

$button-disabled-background:                    #f5f5f5;
$button-disabled-color:                         #999;

$button-link-color:                             $base-link-color;
$button-link-hover-color:                       $base-link-color-hover;
$button-link-hover-text-decoration:             underline;
$button-link-disabled-color:                    #999;


//border [边框
//$border-weight:                                 1px;
$border-radius-base:                            2px;
$border-radius-m:                               4px;
$border-radius-l:                               6px;
$border-radius-xl:                              8px;
$bordercolor:                                   #ededed;
$z-index-border:                                10;
$border-t:                                      $bordercolor;
$border-b:                                      $bordercolor;
$border-l:                                      $bordercolor;
$border-r:                                      $bordercolor;


// 徽章
// ========================================================================

$badge-background:                              #00a8e6;
$badge-padding-horizontal:                      5px;
$badge-font-size:                               10px;
$badge-font-weight:                             bold;
$badge-line-height:                             14px;
$badge-color:                                   #fff;
$badge-text-transform:                          none;
$badge-hover-color:                             #fff;

$badge-notification-font-size:                  12px;
$badge-notification-line-height:                18px;

$badge-success-background:                      #8cc14c;
$badge-warning-background:                      #faa732;
$badge-danger-background:                       #da314b;

