// ==========================================================================
// 变量
// ==========================================================================

// xs s m l xl

//Global color [通用颜色

$color-white: #fff; //白色
$color-grey: darken(#fff, 50%);
$color-red: #ff4222;
$color-blue: #1b97ff;
$color-green: #29cc6d;
$color-yellow: #ffffcc;
$color-orange: #ff9900;
$color-navy: #314c83;
$color-pink: #F7665e;
$color-brown: #ae9a69;
$color-black: #000;

//字体颜色
$font-color-1: #333;
$font-clolr-2: #666;
$font-clolr-3: #999;
//背景颜色
$bg-color-1: #f5f5f5;
$bg-color-2: #e6e6e6;

// font size
$font-size-base: 14px;
$font-size-h1: floor(($font-size-base * 2.6)); // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: 22px; // ~22px
$font-size-h4: 16px; // ~16px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px

//flex网格列数
$flex-column: 12;
// Grid Containers [网格
$container: 100% !default;
$container-m: 720px !default;
$container-l: 960px !default;
$container-xl: 1200px !default;

// Grid Gutters [网格排水沟
$grid-gutter: 0px !default;
$grid-gutter-m: 0px !default;
$grid-gutter-l: 0px !default;
$grid-gutter-xl: 0px !default;

// Responsive Breakpoints [响应式断点
$breakpoint-m: ($container-m + 20) !default;
$breakpoint-l: ($container-l + 20) !default;
$breakpoint-xl: ($container-xl + 20) !default;

//animate 动画持续时间
$duration: 1s;

//shortcut-layout [快捷布局
$layout-meter: 2px;
$layout-meter-lenght: 40;

//border [边框
$border-weight: 1px;
$border-radius-base: 4px !default;
$border-radius-xl: 6px !default;
$border-radius-xs: 2px !default;

$bordercolor: #ededed;
$border-t: -webkit-gradient(linear, left bottom, left top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor));
$border-b: -webkit-gradient(linear, left top, left bottom, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor));
$border-l: -webkit-gradient(linear, right top, left top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor));
$border-r: -webkit-gradient(linear, left top, right top, color-stop(.5, rgba(0, 0, 0, 0)), color-stop(.5, $bordercolor));

// 徽章
// ========================================================================
$badge-background: #000;
$badge-padding-horizontal: 5px;
$badge-font-size: 10px;
$badge-font-weight: bold;
$badge-line-height: 18px;
$badge-color: #fff;
$badge-border-radius: 2px;
$badge-text-transform: none;
$badge-hover-color: #fff;
$badge-notification-font-size: 12px;
$badge-notification-line-height: 18px;

//button [按钮

$btn-font-weight: normal !default;
$btn-color-base: #333 !default;
$btn-bg-base: #f8f8f8 !default;
$btn-border-base: transparent !default;

$btn-default-bg: #F7F7F7;
$btn-default-active-bg: #DEDEDE;
$btn-default-color: #454545;
$btn-default-disabled-bg-color: #f7f7f7;
$btn-default-disabled-color: #C9C9C9;
$btn-default-active-color: #A1A1A1;

$btn-line-height-base: 1.428571429 !default; // 20/14
$btn-line-height-xl: 1.3333333 !default; // extra decimals for Win 8.1 Chrome
$btn-line-height-xs: 1.5 !default;

$btn-link-disabled-color: $font-clolr-3 !default;
$btn-font-size-base: 14px !default;
$btn-font-size-xl: 18px !default; // ~18px
$btn-font-size-xs: 12px !default; // ~12px
$btn-border-radius-base: $border-radius-base !default;
$btn-border-radius-xl: $border-radius-xl !default;
$btn-border-radius-xs: $border-radius-xs !default;
$btn-padding-vertical-base: 6px !default;
$btn-padding-horizontal-base: 12px !default;
$btn-padding-vertical-xl: 10px !default;
$btn-padding-horizontal-xl: 16px !default;
$btn-padding-vertical-xs: 2px !default;
$btn-padding-horizontal-xs: 3px !default;