//shortcut-layout [快捷布局]
$layout-meter: 1px;
$layout-meter-rem: 0.01rem; //基于6.4rem全宽
$layout-meter-lenght: 30;

.test{
  outline: dotted 1px red;
}

.test2{
  outline: dotted 1px blue;
}

.height-full{
  height: 100%;
}

.width-full{
  width: 100%;
}

.float-none{
  float: none;
}

.bg-transparent{
  background: transparent;
}

.border-none{
  border: none;
}

.no-select{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.select-none{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.no-default-appearance{
  &[type="number"]{
    -moz-appearance: textfield;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
  }
}

.font-normal{
  font-style: normal;
  font-weight: normal;
}

.font-bold{
  font-weight: bold;
}

.font-italic{
  font-style: italic;
}

.underline{
  text-decoration: underline;
}

.uppercase{
  text-transform: uppercase;
}

.lowercase{
  text-transform: lowercase;
}

.capitalize{
  text-transform: capitalize;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.text-justify{
  text-align: justify;
}

.break-word{
  word-wrap: break-word;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.static{
  position: static;
}

.fixed{
  position: fixed;
}

.none{
  display: none;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.inline{
  display: inline;
}

.float-left{
  float: left;
}

.left{
  float: left;
}

.float-right{
  float: right;
}

.right{
  float: right;
}

.center{
  float: none;
  margin-left: auto;
  margin-right: auto;
}

@for $i from 0 through $layout-meter-lenght{
  .mg-#{$i*$layout-meter}{
    margin: $i*$layout-meter-rem;
  }

  .mg-t-#{$i*$layout-meter}{
    margin-top: $i*$layout-meter-rem;
  }

  .mg-r-#{$i*$layout-meter}{
    margin-right: $i*$layout-meter-rem;
  }

  .mg-b-#{$i*$layout-meter}{
    margin-bottom: $i*$layout-meter-rem;
  }

  .mg-l-#{$i*$layout-meter}{
    margin-left: $i*$layout-meter-rem;
  }

  .mg-lr-#{$i*$layout-meter}{
    margin-left: $i*$layout-meter-rem;
    margin-right: $i*$layout-meter-rem;
  }

  .mg-tb-#{$i*$layout-meter}{
    margin-top: $i*$layout-meter-rem;
    margin-bottom: $i*$layout-meter-rem;
  }
  //padding shortcut //padding快捷类
  .pd-#{$i*$layout-meter}{
    padding: $i*$layout-meter-rem;
  }

  .pd-t-#{$i*$layout-meter}{
    padding-top: $i*$layout-meter-rem;
  }

  .pd-r-#{$i*$layout-meter}{
    padding-right: $i*$layout-meter-rem;
  }

  .pd-b-#{$i*$layout-meter}{
    padding-bottom: $i*$layout-meter-rem;
  }

  .pd-l-#{$i*$layout-meter}{
    padding-left: $i*$layout-meter-rem;
  }

  .pd-lr-#{$i*$layout-meter}{
    padding-left: $i*$layout-meter-rem;
    padding-right: $i*$layout-meter-rem;
  }

  .pd-tb-#{$i*$layout-meter}{
    padding-top: $i*$layout-meter-rem;
    padding-bottom: $i*$layout-meter-rem;
  }
}

// Images
.img-fluid{
  max-width: 100%;
  display: block;
}

.no-visible{
  visibility: hidden;
}

.visible-hidden{
  visibility: hidden;
}

.visible{
  visibility: inherit;
}

/* 文字截断(webkit下有效)*/

.nowrap{
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.nowrap-1{
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.nowrap-2{
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.nowrap-3{
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
